In [92]:
import pandas as pd

In [93]:
dados_geolocal = pd.read_csv("data/Wasabicast_GeoLocation_all-time.csv", sep = ',')
# , index_col = 0 deixa a primeira coluca sendo a primeira de nossos dados

In [94]:
dados_geolocal.head(12)

               Geo  Percent of Plays
0            Japan          0.600000
1           Brazil          0.220000
2    United States          0.110000
3          Germany          0.040000
4            Spain          0.020000
5   United Kingdom          0.006543
6        Singapore          0.001091
7           Canada          0.001091
8        Indonesia          0.001091
9           France          0.001091
10        Portugal          0.001091
11          Russia          0.001091

In [95]:
dados_geolocal.dtypes

Geo                  object
Percent of Plays    float64
dtype: object

In [96]:
dados_geolocal[['Percent of Plays']].describe()

       Percent of Plays
count         12.000000
mean           0.083591
std            0.175474
min            0.001091
25%            0.001091
50%            0.003817
75%            0.057500
max            0.600000

In [97]:
dados_geolocal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Geo               12 non-null     object
 1   Percent of Plays  12 non-null     float64
dtypes: float64(1), object(1)
memory usage: 320.0+ bytes

In [98]:
df_dados_geolocal = pd.DataFrame(dados_geolocal)

In [99]:
df_dados_geolocal

               Geo  Percent of Plays
0            Japan          0.600000
1           Brazil          0.220000
2    United States          0.110000
3          Germany          0.040000
4            Spain          0.020000
5   United Kingdom          0.006543
6        Singapore          0.001091
7           Canada          0.001091
8        Indonesia          0.001091
9           France          0.001091
10        Portugal          0.001091
11          Russia          0.001091

In [100]:
df_dados_geolocal[['Geo']]

               Geo
0            Japan
1           Brazil
2    United States
3          Germany
4            Spain
5   United Kingdom
6        Singapore
7           Canada
8        Indonesia
9           France
10        Portugal
11          Russia

In [101]:
type(df_dados_geolocal[['Geo']])

pandas.core.frame.DataFrame

In [102]:
df_dados_geolocal.columns.Geo = 'País'
df_dados_geolocal

               Geo  Percent of Plays
0            Japan          0.600000
1           Brazil          0.220000
2    United States          0.110000
3          Germany          0.040000
4            Spain          0.020000
5   United Kingdom          0.006543
6        Singapore          0.001091
7           Canada          0.001091
8        Indonesia          0.001091
9           France          0.001091
10        Portugal          0.001091
11          Russia          0.001091

In [103]:
df_dados_geolocal.rename(columns = {'Geo': 'País', 'Percent of Plays': 'Percent_of_Plays'}, inplace=True)

In [104]:
df_dados_geolocal['id'] = df_dados_geolocal.index + 1
df_dados_geolocal.head()

            País  Percent_of_Plays  id
0          Japan              0.60   1
1         Brazil              0.22   2
2  United States              0.11   3
3        Germany              0.04   4
4          Spain              0.02   5

In [105]:
df_dados_geolocal.set_index('id')

              País  Percent_of_Plays
id
1            Japan          0.600000
2           Brazil          0.220000
3    United States          0.110000
4          Germany          0.040000
5            Spain          0.020000
6   United Kingdom          0.006543
7        Singapore          0.001091
8           Canada          0.001091
9        Indonesia          0.001091
10          France          0.001091
11        Portugal          0.001091
12          Russia          0.001091

In [110]:
(df_dados_geolocal['Percent_of_Plays'] * 100).round(4)

0     60.0000
1     22.0000
2     11.0000
3      4.0000
4      2.0000
5      0.6543
6      0.1091
7      0.1091
8      0.1091
9      0.1091
10     0.1091
11     0.1091
Name: Percent_of_Plays, dtype: float64